*{ box-sizing: border-box;
   font-family: 'Lato', sans-serif; font-size: 1em;}

    [class*="col-"] { 
    padding: 15px;
    }

    [class*="row-"] { 
      display: grid;
      width: 100%;
      max-width: 100%;
      margin: 20px 0 0 0;
      grid-gap: 20px;
      }
 

  .row-1 {
    
    grid-template-columns: repeat(12, 1fr);
  }

  .col-1 {
    background: #f1c40f;
  }

  .row-2 {
    grid-template-columns: repeat(6, 1fr);
  }
  
  .col-2 {
     background:#f39c12;
  }

  .row-3 {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .col-3 {
     background:#2ecc71;
  }

  .row-4 {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .col-4 {
     background:#1abc9c;
  }

  .row-5 {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .col-5 {
     background: #3498db;
  }

  .row-6 {
    grid-template-columns: 1fr;
  }
  
  .col-6 {
     background: #9b59b6;
  }